@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.none {
    display: none !important;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: 'Montserrat';
    background: #F2FEFF;
    overflow-x: hidden;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.download {
    transition: .3s;

    &:hover {
        transform: scale(1.1);
    }
}

.nav {
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__directions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 3rem;
    }

    & .installation {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
    }

    & .lang {
        display: flex;
        align-items: center;
        column-gap: 2rem;

        &__icon {
            opacity: 0.5;

            &.active {
                opacity: 1;
            }
        }
    }
}

.header {
    overflow-y: visible;
    overflow-x: hidden;

    &__content {
        position: relative;
        height: 90rem; //note
        width: 100%;
        max-width: 100rem;
        margin: 0 auto;
        display: grid;

        &::after {
            content: 'Групповые тренировки';
            position: absolute;
            top: 12rem;
            right: calc(100% / 24);
            background: linear-gradient(268.78deg, #1DCCFD -0.12%, #9C27B0 102.45%);
            border-radius: 100px;
            color: white;
            width: 26.4rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            font-weight: 700;
            height: 5.4rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-icon {

            &-1,
            &-2 {
                backdrop-filter: blur(9.0875rem);
            }
        }

        &-name {
            font-size: 22rem;
            font-weight: 900;
            color: white;
            line-height: 20rem;
            text-align: center !important;
            position: absolute !important;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        place-items: center;

        &-image {
            width: 100%;
            position: absolute;
            left: 50% !important;
            top: 50% !important;
            transform: translate(-50%, -50%) !important;
        }

        &-icon {
            position: absolute !important;
            cursor: pointer;
            z-index: 5;

            &-1 {
                left: calc(1320px / 24) !important;
                top: calc(100% / 4) !important;
                border-radius: 50%;
            }

            &-2 {
                right: calc(1320px / 24) !important;
                bottom: calc(100% / 3) !important;
                left: unset !important;
                top: unset !important;
                border-radius: 50%;
            }
        }
    }

    &__background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh; //note
        display: grid;
        place-items: center;
        left: 50%;
        transform: translateX(-50%);
        top: -25%;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            background: url('../img/wave.png') no-repeat center center / cover;
            width: 0;
            height: 0;
            opacity: 0;
            animation: magnet1 5s linear infinite;
            transform: translate(-50%, -50%);

        }

        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            background: url('../img/wave.png') no-repeat center center / cover;
            width: 0;
            height: 0;
            opacity: 0;
            animation: magnet2 6s linear infinite;
            transform: translate(-50%, -50%);
        }

        &-image {
            position: relative;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: magnet3 7s linear infinite;
            transform: scale(0);
        }
    }
}

.header__content-image {
    width: 125% !important;
}

.header__content-name {
    text-transform: uppercase;
    top: 40% !important;
}

.main {
    width: 100%;
    overflow: hidden;

    & .intro {
        &__info {
            font-weight: 500;
            font-size: 2rem;
            line-height: 3rem;
            text-align: center;
            max-width: 570px;
            width: 100%;
            margin-top: 4.468rem;
        }

        &__install {
            &-btns {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 1rem;
                margin-top: 3rem;

                &.none {
                    display: none;
                }
            }

            &-btn {
                &-image {
                    width: 16.5rem;
                }
            }
        }

        &__pause {
            &-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                z-index: 5;
                transform: translate(-50%, -50%);
                cursor: pointer;
                padding: 15rem;
            }

            &-cals {
                position: absolute;
                bottom: 5%;
                right: 0;
                z-index: 3;
                cursor: pointer;
                backdrop-filter: blur(.865439rem);
                border-radius: 2rem;
            }
        }

        &__content {
            position: relative;
            width: max-content;
            height: 65rem;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                max-width: 63.95rem;
                height: 100%;
                margin-top: 5.735rem;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: url('../img/duo.png') no-repeat center center / contain;
                z-index: 2;
            }

            &-quality {
                display: flex;
                align-items: center;
                column-gap: .8rem;
                position: absolute;
                left: 0%;
                top: 15%;

                &_auto {
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00DB59;
                    border-radius: 100.077px;
                }

                &_exact {
                    background: rgba(0, 0, 0, 0.3);
                    backdrop-filter: blur(10.0077px);
                    border-radius: 100.077px;
                }

                & a {
                    text-transform: uppercase;
                    font-size: 2.402rem;
                    font-weight: 700;
                    line-height: 3.002rem;
                    color: white;
                    padding: 1rem 1.5rem;
                    width: 100%;
                    max-width: 10.02rem;
                    text-align: center;
                }
            }

            &-background {
                position: relative;
                display: grid;
                place-items: center;
                width: 100%;
                height: 100%;
                margin-top: 4rem;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: url('../img/wave.png') no-repeat center center / cover;
                    width: 0;
                    height: 0;
                    transform: translate(-50%, -50%);
                    opacity: 0; // 0.5
                    animation: middle1 4s linear infinite;
                }

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    background: url('../img/wave.png') no-repeat center center / cover;
                    width: 0;
                    height: 0;
                    transform: translate(-50%, -50%);
                    opacity: 0; // 0.6
                    animation: middle2 3s linear infinite;

                }
            }

            &-image {
                top: 50%;
                left: 50%;
                width: 0;
                height: 0;
                transform: translate(-50%, -50%);
                position: absolute;
                opacity: 0; // 0.7
                animation: middle3 6s linear infinite;
            }
        }

        &__container {
            max-width: 96.4rem;
            width: 100%;
            padding: 0 1.5rem;
            margin: 0 auto;
        }

        &__texts {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 1.5rem;
        }

        &__title {
            font-size: 7.2rem;
            line-height: 7.2rem;
            text-align: center;
            letter-spacing: -.2rem;
            color: #000000;
        }

        &__text {
            font-weight: 500;
            font-size: 2.4rem;
            line-height: 3.4rem;
            text-align: center;
            color: #000000;
        }

        &__block {
            background: white;
            width: 100%;
            max-width: 96.4rem;
            height: 114.7rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 40px 30px;
            position: relative;
        }
    }

    & .slider {
        & .intro__install-btns.none {
            flex-direction: column;
            row-gap: 1;
        }

        height: 115.3rem;
        width: 100%;
        max-width: 93.4rem;
        background: white;
        padding: 6rem 0;
        margin: 6rem auto;


        &__title {
            font-size: 7.2rem;
            line-height: 7.2rem;
            font-weight: 800;
            text-align: center;
        }

        &__text {
            font-size: 2.4rem;
            line-height: 3.4rem;
            font-weight: 500;
            text-align: center;
            margin-top: 1.5rem;
        }

        & .mySwiper {
            background: url('../img/phone.png') no-repeat center center / contain;
            height: 66rem;
            width: 100%;
            margin-top: 6rem;
            overflow: visible;
        }

        & .swiper {
            overflow: visible;

            &-wrapper {
                align-items: center;
            }

            &-slide {
                width: 34.3rem;
                height: 34.3rem;
                border-radius: 1rem;
                overflow: hidden;

                &-level {
                    font-size: 1.4rem;
                    font-weight: 2.4rem;
                    font-weight: 700;
                    position: absolute;
                    left: 2rem;
                    top: 2rem;
                    z-index: 10;
                    color: white;
                    padding: .6rem 1rem;
                    text-align: center;

                    &.easy {
                        background: linear-gradient(88.44deg, #0186F5 -0.03%, #1DCCFD 100%);
                        backdrop-filter: blur(5.76407px);
                        border-radius: 23.0563px;
                    }

                    &.hard {
                        background: linear-gradient(88.44deg, #FF0054 -0.03%, #FF8E00 100%);
                        backdrop-filter: blur(5.76407px);
                        border-radius: 23.0563px;
                    }

                    &.mid {
                        background: linear-gradient(88.44deg, #00DB59 -0.03%, #A4FF00 100%);
                        backdrop-filter: blur(5.76407px);
                        border-radius: 23.0563px;
                    }
                }

                &-text {
                    position: absolute;
                    left: 2rem;
                    bottom: 2rem;
                    z-index: 10;
                    font-size: 2rem;
                    font-weight: 600;
                    line-height: 3rem;
                    color: white;
                    z-index: 20;
                }

                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 0;
                    height: 100%;
                    opacity: 25%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
                }
            }
        }
    }
}


.installation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin-top: 6rem;

    & * {
        cursor: pointer;
    }
}



.main .slider {
    & .install-btn {
        &:hover {
            transform: scale(1.05);
        }

        overflow-x: hidden;
        position: relative;
        z-index: 2;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & img {
            transform: scale(1.05);
        }


    }
}



.footer {
    background-color: white;
    padding: 1rem 0;

    &__icon {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        text-align: start;

        &-texts {
            row-gap: .4rem;
        }

        &__title {
            font-size: 9.12rem;
            line-height: 1.12rem;
            font-weight: 500;
        }

        & .text {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 15rem;
            width: 100%;
        }
    }

    &__copy-name {
        font-size: 1.2rem;
        line-height: 1.463rem;
    }

    & .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__soc {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
    }
}



.header {
    position: relative;
    overflow: hidden;


    padding: 1rem 0;

    &__icon {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        text-align: start;

        &-texts {
            row-gap: .4rem;
        }

        &__title {
            font-size: 9.12rem;
            line-height: 1.12rem;
            font-weight: 500;
        }

        & .text {
            display: flex;
            align-items: center;
            flex-direction: column;
            max-width: 15rem;
            width: 100%;
        }
    }

}


.swiper-slide>div {
    transition: all 1s ease;
}

.swiper-slide-visible {
    transition: all 1s ease !important;
}

.swiper-slide {
    transform: scale(0.9);
    filter: opacity(0%);

    &-prev,
    &-next {
        filter: opacity(100%);
    }

    &-active {
        filter: opacity(100%);
        transform: scale(1.1);

        width: 43rem;
        height: 43rem;

        & .swiper__slide {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100%;
        }

    }
}


.swiper__slide {
    backdrop-filter: blur(10px);

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        left: 0;
        top: 50%;
        background: black;
        transform: translateY(-50%);
        border-radius: .8rem;
        z-index: -1;
    }

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.swiper__slide-active {
    height: max-content;
    filter: opacity(100%)
}


@import './media.scss';

@keyframes magnet1 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    50% {
        width: 50rem;
        height: 50rem;
        opacity: 0.7;
    }

    100% {
        width: 114rem;
        height: 114rem;
        opacity: 0;
    }
}

@keyframes magnet2 {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }

    50% {
        width: 15rem;
        height: 15rem;
        opacity: 1;
    }

    100% {
        width: 68rem;
        height: 68rem;
        opacity: 0;
    }
}

@keyframes magnet3 {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(2);
    }
}



@keyframes middle1 {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        width: 30rem;
        height: 30rem;
    }

    100% {
        opacity: 0;
        width: 66rem;
        height: 66rem;
    }
}

@keyframes middle2 {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        width: 25rem;
        height: 25rem;
    }

    100% {
        opacity: 0;
        width: 50rem;
        height: 50rem;
    }
}

@keyframes middle3 {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }

    50% {
        opacity: 1;
        width: 30rem;
        height: 30rem;
    }

    100% {
        opacity: 0;
        width: 70rem;
        height: 70rem;
    }
}