﻿@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.none {
    display: none !important
}

html {
    font-size: 10px;
    height: 100%
}

body {
    font-family: 'Montserrat';
    background: #F2FEFF;
    overflow-x: hidden
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5rem
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

.download {
    transition: .3s
}

.download:hover {
    transform: scale(1.1)
}

.nav {
    padding: 2rem 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999
}

.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav__directions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem
}

.nav .installation {
    display: flex;
    align-items: center;
    column-gap: 1.5rem
}

.nav .lang {
    display: flex;
    align-items: center;
    column-gap: 2rem
}

.nav .lang__icon {
    opacity: 0.5
}

.nav .lang__icon.active {
    opacity: 1
}

.header {
    overflow-y: visible;
    overflow-x: hidden
}

.header__content {
    position: relative;
    height: 90rem;
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    display: grid;
    place-items: center
}

.header__content::after {
    content: 'Групповые тренировки';
    position: absolute;
    top: 12rem;
    right: calc(100% / 24);
    background: linear-gradient(268.78deg, #1DCCFD -.12%, #9C27B0 102.45%);
    border-radius: 100px;
    color: white;
    width: 26.4rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    font-weight: 700;
    height: 5.4rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.header__content-icon-1,
.header__content-icon-2 {
    backdrop-filter: blur(9.0875rem)
}

.header__content-name {
    font-size: 22rem;
    font-weight: 900;
    color: white;
    line-height: 20rem;
    text-align: center !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important
}

.header__content-image {
    width: 100%;
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important
}

.header__content-icon {
    position: absolute !important;
    cursor: pointer;
    z-index: 5
}

.header__content-icon-1 {
    left: calc(1320px / 24) !important;
    top: calc(100% / 4) !important;
    border-radius: 50%
}

.header__content-icon-2 {
    right: calc(1320px / 24) !important;
    bottom: calc(100% / 3) !important;
    left: unset !important;
    top: unset !important;
    border-radius: 50%
}

.header__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    left: 50%;
    transform: translateX(-50%);
    top: -25%
}

.header__background::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/wave.png") no-repeat center center/cover;
    width: 0;
    height: 0;
    opacity: 0;
    animation: magnet1 5s linear infinite;
    transform: translate(-50%, -50%)
}

.header__background::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/wave.png") no-repeat center center/cover;
    width: 0;
    height: 0;
    opacity: 0;
    animation: magnet2 6s linear infinite;
    transform: translate(-50%, -50%)
}

.header__background-image {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: magnet3 7s linear infinite;
    transform: scale(0)
}

.header__content-image {
    width: 125% !important
}

.header__content-name {
    text-transform: uppercase;
    top: 40% !important
}

.main {
    width: 100%;
    overflow: hidden
}

.main .intro__info {
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    max-width: 570px;
    width: 100%;
    margin-top: 4.468rem
}

.main .intro__install-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 3rem
}

.main .intro__install-btns.none {
    display: none
}

.main .intro__install-btn-image {
    width: 16.5rem
}

.main .intro__pause-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 15rem
}

.main .intro__pause-cals {
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 3;
    cursor: pointer;
    backdrop-filter: blur(0.86544rem);
    border-radius: 2rem
}

.main .intro__content {
    position: relative;
    width: max-content;
    height: 65rem
}

.main .intro__content::before {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 63.95rem;
    height: 100%;
    margin-top: 5.735rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/duo.png") no-repeat center center/contain;
    z-index: 2
}

.main .intro__content-quality {
    display: flex;
    align-items: center;
    column-gap: .8rem;
    position: absolute;
    left: 0%;
    top: 15%
}

.main .intro__content-quality_auto {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #00DB59;
    border-radius: 100.077px
}

.main .intro__content-quality_exact {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10.0077px);
    border-radius: 100.077px
}

.main .intro__content-quality a {
    text-transform: uppercase;
    font-size: 2.402rem;
    font-weight: 700;
    line-height: 3.002rem;
    color: white;
    padding: 1rem 1.5rem;
    width: 100%;
    max-width: 10.02rem;
    text-align: center
}

.main .intro__content-background {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    margin-top: 4rem
}

.main .intro__content-background::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/wave.png") no-repeat center center/cover;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: middle1 4s linear infinite
}

.main .intro__content-background::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../img/wave.png") no-repeat center center/cover;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: middle2 3s linear infinite
}

.main .intro__content-image {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
    animation: middle3 6s linear infinite
}

.main .intro__container {
    max-width: 96.4rem;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto
}

.main .intro__texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem
}

.main .intro__title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    text-align: center;
    letter-spacing: -.2rem;
    color: #000000
}

.main .intro__text {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.4rem;
    text-align: center;
    color: #000000
}

.main .intro__block {
    background: white;
    width: 100%;
    max-width: 96.4rem;
    height: 114.7rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px;
    position: relative
}

.main .slider {
    height: 115.3rem;
    width: 100%;
    max-width: 93.4rem;
    background: white;
    padding: 6rem 0;
    margin: 6rem auto
}

.main .slider .intro__install-btns.none {
    flex-direction: column;
    row-gap: 1
}

.main .slider__title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    font-weight: 800;
    text-align: center
}

.main .slider__text {
    font-size: 2.4rem;
    line-height: 3.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: 1.5rem
}

.main .slider .mySwiper {
    background: url("../img/phone.png") no-repeat center center/contain;
    height: 66rem;
    width: 100%;
    margin-top: 6rem;
    overflow: visible
}

.main .slider .swiper {
    overflow: visible
}

.main .slider .swiper-wrapper {
    align-items: center
}

.main .slider .swiper-slide {
    width: 34.3rem;
    height: 34.3rem;
    border-radius: 1rem;
    overflow: hidden
}

.main .slider .swiper-slide-level {
    font-size: 1.4rem;
    font-weight: 2.4rem;
    font-weight: 700;
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 10;
    color: white;
    padding: .6rem 1rem;
    text-align: center
}

.main .slider .swiper-slide-level.easy {
    background: linear-gradient(88.44deg, #0186F5 -.03%, #1DCCFD 100%);
    backdrop-filter: blur(5.76407px);
    border-radius: 23.0563px
}

.main .slider .swiper-slide-level.hard {
    background: linear-gradient(88.44deg, #FF0054 -.03%, #FF8E00 100%);
    backdrop-filter: blur(5.76407px);
    border-radius: 23.0563px
}

.main .slider .swiper-slide-level.mid {
    background: linear-gradient(88.44deg, #00DB59 -.03%, #A4FF00 100%);
    backdrop-filter: blur(5.76407px);
    border-radius: 23.0563px
}

.main .slider .swiper-slide-text {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    z-index: 10;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    color: white;
    z-index: 20
}

.main .slider .swiper-slide::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    opacity: 25%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%)
}

.installation1 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin-top: 6rem
}

.installation1 * {
    cursor: pointer
}

.main .slider .install-btn {
    overflow-x: hidden;
    position: relative;
    z-index: 2;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center
}

.main .slider .install-btn:hover {
    transform: scale(1.05)
}

.main .slider .install-btn img {
    transform: scale(1.05)
}

.footer {
    background-color: white;
    padding: 1rem 0
}

.footer__icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-align: start
}

.footer__icon-texts {
    row-gap: .4rem
}

.footer__icon__title {
    font-size: 9.12rem;
    line-height: 1.12rem;
    font-weight: 500
}

.footer__icon .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15rem;
    width: 100%
}

.footer__copy-name {
    font-size: 1.2rem;
    line-height: 1.463rem
}

.footer .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footer__soc {
    display: flex;
    align-items: center;
    column-gap: 1.5rem
}

.header {
    position: relative;
    overflow: hidden;
    padding: 1rem 0
}

.header__icon {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    text-align: start
}

.header__icon-texts {
    row-gap: .4rem
}

.header__icon__title {
    font-size: 9.12rem;
    line-height: 1.12rem;
    font-weight: 500
}

.header__icon .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15rem;
    width: 100%
}

.swiper-slide>div {
    transition: all 1s ease
}

.swiper-slide-visible {
    transition: all 1s ease !important
}

.swiper-slide {
    transform: scale(0.9);
    filter: opacity(0%)
}

.swiper-slide-prev,
.swiper-slide-next {
    filter: opacity(100%)
}

.swiper-slide-active {
    filter: opacity(100%);
    transform: scale(1.1);
    width: 43rem;
    height: 43rem
}

.swiper-slide-active .swiper__slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.swiper__slide {
    backdrop-filter: blur(10px)
}

.swiper__slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: 50%;
    background: black;
    transform: translateY(-50%);
    border-radius: .8rem;
    z-index: -1
}

.swiper__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.swiper__slide-active {
    height: max-content;
    filter: opacity(100%)
}

@media (max-width: 1280px) {
    .header::after {
        right: 15%
    }
}

@media (max-width: 1024px) {
    .header::after {
        right: 0
    }
}

@media (max-width: 990px) {
    .header__content {
        height: 90rem;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .header__content-image {
        width: max-content
    }

    .header__background {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 60rem;
        display: grid;
        place-items: center;
        left: 50%;
        top: 0% !important;
        transform: translateX(-50%)
    }

    .header__background::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 75rem;
        height: 75rem;
        transform: translate(-50%, -50%);
        opacity: 0.3
    }

    .header__background::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 60rem;
        height: 60rem;
        transform: translate(-50%, -50%);
        opacity: 0.5
    }

    .header__background-image {
        position: relative;
        opacity: 0.8
    }
}

@media (max-width: 768px) {
    .header::after {
        display: none
    }

    .main .slider {
        max-width: 74rem
    }

    .main .intro__title {
        font-size: 6.5rem
    }

    .main .intro__content-quality {
        z-index: 5
    }

    .main .intro__content-quality_auto {
        transition: .1s
    }

    .main .intro__content-quality_auto:hover {
        transform: scale(1.05)
    }

    .main .intro__content-quality_exact {
        transition: .1s
    }

    .main .intro__content-quality_exact:hover {
        transform: scale(1.05)
    }

    .main .intro__pause-icon {
        padding: 0;
        transition: .1s
    }

    .main .intro__pause-icon:hover {
        transform: scale(1.01) translate(-50%, -50%)
    }

    .header__content::after {
        display: none
    }

    .header__content-name {
        top: 35% !important
    }

    .header__background {
        width: 100%;
        left: 0;
        transform: translate(0)
    }

    .header__background::after {
        width: 50rem;
        height: 50rem
    }

    .header__background::before {
        width: 60rem;
        height: 60rem
    }
}

@media (max-width: 660px) {
    .header {
        overflow: hidden
    }

    .swiper-slide-active {
        transform: scale(1.2) !important
    }

    .header__content-image {
        left: 45% !important
    }

    .header__background {
        top: 10% !important
    }

    .footer .container {
        padding: 3rem 1.5rem;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center
    }

    .footer__icon {
        flex-direction: column;
        row-gap: 1.5rem;
        text-align: center
    }

    .main .intro__block {
        height: 125rem
    }

    .installation {
        display: none !important
    }

    .installation1 {
        flex-direction: column;
        margin: 3rem auto 0 auto;
        width: 100%;
        max-width: 40rem;
        row-gap: 1.5rem
    }

    .installation1 .intro__install-btn-image {
        width: 100%
    }

    .main .slider {
        max-width: unset;
        width: 90%;
        height: 115rem
    }

    .header__background-image {
        width: 30rem
    }

    .header__background::after {
        width: 50rem;
        height: 50rem
    }

    .header__background::before {
        width: 70rem;
        height: 70rem
    }

    .intro__content {
        width: 100%
    }

    .intro__title {
        font-size: 4rem;
        line-height: 4rem
    }

    .intro__text {
        font-size: 2rem;
        line-height: 3rem
    }

    .intro__pause-icon {
        width: 5.5rem
    }

    .header__content {
        height: 90rem;
        width: 100%;
        max-width: 60rem;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .header__content-image {
        width: 200% !important;
        top: 60% !important
    }

    .header__content-name {
        font-size: 20rem;
        line-height: 18rem
    }

    .header__content-icon-1 {
        width: 7.5rem;
        top: calc(100% / 6) !important
    }

    .header__content-icon-2 {
        width: 7.5rem;
        bottom: calc(100% / 2) !important;
        right: calc(1320px / 36) !important
    }
}

@media (max-width: 575px) {
    .main .intro__install-btns {
        flex-direction: column;
        row-gap: 1rem;
        display: none
    }

    .main .intro__install-btns.none {
        display: flex !important
    }

    .main .intro__install-btns.none img {
        width: 100%
    }

    .header__content-name {
        top: 50% !important
    }

    .header__content-image {
        width: 200%
    }

    .header__background {
        transform: translate(0) scale(1.2)
    }

    .header__background-image {
        width: 20rem
    }

    .main .swiper-slide {
        width: 30rem !important;
        height: 30rem !important
    }

    .main .slider__title {
        font-size: 6rem;
        line-height: 6rem
    }

    .main .intro__block {
        height: 122rem
    }

    .main .intro__content {
        width: 100%
    }

    .main .intro__title {
        font-size: 4rem;
        line-height: 4rem
    }

    .main .intro__text {
        font-size: 2rem;
        line-height: 3rem
    }

    .main .intro__pause-icon {
        width: 5.5rem
    }
}

@media (max-width: 475px) {
    .header__content-name {
        font-size: 16rem;
        line-height: 18rem
    }

    .header {
        padding-top: 5rem
    }

    .header__content {
        height: 55rem
    }

    .header__content-name {
        font-size: 14rem;
        top: 30% !important;
        line-height: 12rem
    }

    .header__background {
        height: 20rem
    }

    .header__background-image {
        width: 20rem
    }

    .header__background::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 40rem;
        height: 40rem;
        transform: translate(-50%, -50%);
        opacity: 0.3
    }

    .header__background::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 30rem;
        height: 30rem;
        transform: translate(-50%, -50%);
        opacity: 0.5
    }

    .installation1 {
        flex-direction: column;
        row-gap: 1.5rem
    }

    .installation1 img {
        width: 100%
    }

    .installation1 .intro__install-btn-image {
        width: 80% !important
    }

    .main .slider {
        height: 110rem
    }

    .main {
        margin-top: 3rem
    }

    .header__content-image {
        width: 175%
    }

    .header__content-icon-1 {
        width: 5rem;
        top: calc(100% / 3) !important;
        left: 1rem !important;
        z-index: 10;
        backdrop-filter: blur(10px)
    }

    .header__content-icon-2 {
        width: 5rem;
        bottom: calc(100% / 2.5) !important;
        right: calc(1320px / 60) !important;
        z-index: 10;
        backdrop-filter: blur(10px)
    }

    .header__content-name {
        font-size: 12rem;
        line-height: 10rem
    }

    .main .slider__title {
        font-size: 3rem;
        line-height: 3rem
    }

    .main .slider__text {
        font-size: 2rem;
        line-height: 2rem
    }

    .main .intro__block {
        height: 90rem
    }

    .main .intro__pause-icon {
        top: 60%
    }

    .main .intro__pause-cals {
        width: 7.5rem;
        border-radius: 1rem
    }

    .main .intro__content {
        height: 40rem
    }

    .main .intro__content-quality {
        top: 15%
    }

    .main .intro__content-quality a {
        text-transform: uppercase;
        font-size: 1.151rem;
        font-weight: 700;
        line-height: 1.438rem;
        color: white;
        padding: .7rem .5rem;
        width: 5rem;
        text-align: center
    }

    .main .intro__content-image {
        width: 45rem;
        height: 45rem;
        opacity: 0.2
    }

    .main .intro__content-background::after {
        width: 30rem;
        height: 30rem
    }

    .main .intro__content-background::before {
        width: 20rem;
        height: 20rem
    }

    .main .intro__text {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.4rem
    }
}

@media (max-width: 420px) {
    .header__content-icon-2 {
        right: -2.5% !important
    }

    .main .intro__block {
        height: 102rem
    }

    .main .slider .swiper-slide-text {
        font-size: 1.2rem;
        line-height: 1.4rem;
        left: 1rem;
        bottom: 1.877rem
    }

    .main .slider .swiper-slide-level {
        font-size: 1.1rem;
        line-height: 1.2rem;
        top: 1.008rem;
        left: 1.008rem
    }

    .header__content {
        height: 42rem
    }

    .header__content-name {
        font-size: 12rem;
        line-height: 10rem
    }

    .header__background {
        height: 20rem
    }

    .header__background-image {
        width: 20rem
    }

    .header__background::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 40rem;
        height: 40rem;
        transform: translate(-50%, -50%);
        opacity: 0.3
    }

    .header__background::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: url("../img/wave.png") no-repeat center center/cover;
        width: 30rem;
        height: 30rem;
        transform: translate(-50%, -50%);
        opacity: 0.5
    }

    .header__background {
        transform: translateY(10%) scale(1.2)
    }

    .header__content-image {
        width: 200%
    }
}

@media (max-width: 375px) {
    .header__content-name {
        font-size: 10rem;
        line-height: 8rem
    }

    .header__content-icon-1 {
        width: 5rem;
        top: calc(100% / 6) !important;
        left: 1rem !important;
        z-index: 10;
        backdrop-filter: blur(10px)
    }

    .main .slider .swiper-slide {
        transform: scale(0.9)
    }

    .main .slider .swiper-slide-active {
        transform: scale(1.1)
    }

    .main .slider .swiper-slide-text {
        font-size: 1.2rem;
        line-height: 1.4rem;
        left: 1rem;
        bottom: 1.877rem
    }

    .main .slider .swiper-slide-level {
        font-size: 1.1rem;
        line-height: 1.2rem;
        top: 1.008rem;
        left: 1.008rem
    }

    .main .slider .swiper-slide-level {
        padding: .4rem 1rem;
        font-size: 1.1rem;
        line-height: 1.2rem
    }

    .main .intro__block {
        margin-top: 3rem
    }

    .header__background {
        height: 20rem
    }

    .main .intro__install-btn-image {
        width: 100%
    }

    .main .intro__info {
        font-size: 1.6rem;
        line-height: 2.2rem
    }

    .main .slider {
        height: 83rem;
        padding: 2rem
    }

    .main .slider .mySwiper {
        width: 85%;
        height: 45rem
    }

    .main .swiper-slide {
        transform: scale(1);
        width: 21.664rem !important;
        height: 21.664rem !important
    }

    .main .swiper-slide-active {
        transform: scale(1)
    }

    .main .swiper .intro__block {
        height: 95rem
    }

    .main .swiper .intro__install-btns {
        flex-direction: column;
        display: none
    }

    .main .swiper .intro__install-btns.none {
        display: flex !important;
        row-gap: 1rem
    }

    .main .swiper .intro__install-btn {
        width: 100%
    }

    .main .swiper .intro__install-btn-image {
        width: 100%
    }

    .main .swiper .intro__info {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2.2rem
    }
}

@media (max-width: 375px) and (max-width: 350px) {
    .header__content-icon {
        right: -5% !important
    }

    .main .slider .swiper-slide-text {
        font-size: 1.209rem;
        line-height: 1.713rem;
        left: 1.02rem;
        bottom: 1.817rem
    }

    .main .slider .swiper-slide-level {
        font-size: .705rem;
        line-height: 1.209rem
    }

    .main .intro__content-background::after {
        width: 40rem;
        height: 40rem
    }

    .main .intro__content-background::before {
        width: 20rem;
        height: 20rem
    }

    .main .intro__content-image {
        width: 30rem;
        height: 30rem
    }

    .main .intro__block {
        height: 107rem
    }

    .main .intro__title {
        font-size: 3rem;
        line-height: 3rem
    }
}

@keyframes magnet1 {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }

    50% {
        width: 50rem;
        height: 50rem;
        opacity: 0.7
    }

    100% {
        width: 114rem;
        height: 114rem;
        opacity: 0
    }
}

@keyframes magnet2 {
    0% {
        width: 0;
        height: 0;
        opacity: 0
    }

    50% {
        width: 15rem;
        height: 15rem;
        opacity: 1
    }

    100% {
        width: 68rem;
        height: 68rem;
        opacity: 0
    }
}

@keyframes magnet3 {
    0% {
        opacity: 0;
        transform: scale(1)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: scale(2)
    }
}

@keyframes middle1 {
    0% {
        opacity: 0;
        width: 0;
        height: 0
    }

    50% {
        opacity: 1;
        width: 30rem;
        height: 30rem
    }

    100% {
        opacity: 0;
        width: 66rem;
        height: 66rem
    }
}

@keyframes middle2 {
    0% {
        opacity: 0;
        width: 0;
        height: 0
    }

    50% {
        opacity: 1;
        width: 25rem;
        height: 25rem
    }

    100% {
        opacity: 0;
        width: 50rem;
        height: 50rem
    }
}

@keyframes middle3 {
    0% {
        opacity: 0;
        width: 0;
        height: 0
    }

    50% {
        opacity: 1;
        width: 30rem;
        height: 30rem
    }

    100% {
        opacity: 0;
        width: 70rem;
        height: 70rem
    }
}